* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

h3 {
    color: antiquewhite;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

p {
    color: antiquewhite;
}

ul,
li {
    color: antiquewhite;
}

.title {
    position: relative;
}

.title p {
    position: absolute;
    bottom: 1%;
    font-size: 0.5rem;
    color: rgb(150, 151, 151);
    margin: 5px;
    display: flex;
}

.title hr {
    /* display: flex; */
    bottom: 170vh;
    color: antiquewhite;
    /* width: 100%; */
    border-style: dashed;
}

.title .quote {
    font-weight: 400;
    font-size: 18px;
    display: flex;
    /* margin: 0rem 70rem; */
    right: 10%;
    color: antiquewhite;
    justify-content: left;
    /* flex: 1;
    flex-direction: column; */
}

.container {
    background-color: rgb(16, 14, 14);
    padding: 2rem;
}

.article-div {
    margin-top: 2rem;
}
